{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
    		<h1>Etes-vous sûrs de vouloir supprimer l'électeur "{{ entity.nom }}" ?</h1>

			{{ form(delete_form) }}
    	</div>
	</div>
{% endblock %}
