{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
		    <h1>Ajouter un électeur</h1>

		    {{ form(form) }}

	        <a class="btn btn-default" href="{{ path('crud_election_show', {'id': entity.election.id}) }}">
	            Retourner à l'élection
	        </a>
		</div>
	</div>
{% endblock %}
