{% extends "::base.html.twig" %}


{% block body %}
	<style>
		th, td {
			height: 50px;
			padding-left: 5px;
			padding-right: 5px;
		}
	</style>
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Mail</th>
				<th>Code</th>
			</tr>
		</thead>
		<tbody>
			{% set nb = 0 %}
			{% for e in electeurs %}
				<tr>
					<td>{{ e.prenom }} {{ e.nom }}</td>
					<td>{{ e.email }}</td>
					<td>{{ codes[nb] }}</td>
				</tr>
				{% set nb = nb+1 %}
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
