{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Liste des élections</h1>

            <table class="table table-hover records_list">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nom }}</td>
                        <td>{% if entity.finished %}Terminée{% elseif entity.started %}En cours{% else %}Pas commencée{% endif %}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('crud_election_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('crud_election_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

                <ul>
                <li>
                    <a href="{{ path('crud_election_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
