{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
            <h1>Liste des élections</h1>

            <table class="table table-hover records_list">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.nom }}</td>
                        <td>{% if entity.finished %}Terminée{% elseif entity.started %}En cours{% else %}Pas commencée{% endif %}</td>
                        <td><a class="btn btn-sm btn-default" href="{{ path('crud_election_show', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-eye-open"></span> Details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="{{ path('crud_election_new') }}">Créer une nouvelle élection</a>
        </div>
                
        </div>
    </div>
{% endblock %}
