{% extends "PolytechJMBundle:Default:layout.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
		    <h1>Créer une nouvelle élection</h1>

		    {{ form(form) }}

			<a class="btn btn-default" href="{{ path('crud_election') }}">Retour à la liste des élections</a>

		</div>
	</div>
{% endblock %}
