{% extends "PolytechJMBundle:Default:layout.html.twig" %}

{% block body %}

    <form class="form-horizontal container login-container" action="{{ path('login_check') }}" method="post">
        
        <div class="row">
            <h4 class="col-sm-offset-3">Saisissez vos identifiants pour accéder à la partie Administration :</h4>
            <br>
        </div>
        {% if error %}
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 alert alert-danger"><strong>Erreur : </strong>{{ error.message }}</div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-4 control-label" for="username">Login :</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label" for="password">Mot de passe :</label>
            <div class="col-sm-5">
                <input class="form-control" type="password" id="password" name="_password" />
            </div>
            
        </div>

        <button type="submit" class="col-sm-offset-4 btn btn-default">Connexion</button>
    </form>
{% endblock %}

