{% extends "PolytechJMBundle:Default:layout.html.twig" %}

{% block body %}
    <div class="container-fluid">
		<div class="row">
			<h1>Saisissez votre code personnel :</h1>
		</div>
			<div class="row">
				<a href="{{ path('polytech_jm_vote', {'idElection': election.id }) }}">lien</a>
			</div>
	</div>
{% endblock %}