{% extends "PolytechJMBundle:Default:layout.html.twig" %}

{% block body %}
    <div class="container">
		<div class="row">
			<h1>{{ election.nom }}</h1>
			<h4>Saisissez les informations requises avant de pouvoir voter :</h4>
		</div>
		<div class="row">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}